# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# VS Code
.vscode/
.history/

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/